*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}


/*HEADER*/
header{
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/*MAIN*/
main{
    height: 70vh;
    width: 100%;
}


/*DATA-TITLE*/
.data-title{
    height: 25%;
    display: flex;
    background-color: #4480b6;
    color: white;
}
.data-title .title{
    margin: 0 0 0 0;
    font-weight: 400;
}
.data-title .subtitle{
    margin: 0 0 2px 0;
    color: #bbddf9;
}

.data-title .button{
    display: flex;
    align-items: center;
}
.data-title button{
    border-radius: 3px;
    padding: 3px 5px;
    margin-right: 5px;
    border: none;
    background-color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.data-title button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #757575;
    box-shadow: none;
    border: none;
    cursor: not-allowed;
}
.data-title #copy-text{
    font-size: 14px;
    margin: 0.8px 0 0 5px;
 }



/*DATA-INFO*/
.data-info{
    width: 100%;
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.data-info .info{
    width: 90%;
    margin: 0 auto 15px auto;
    display: flex;
    align-items: flex-start;
}
.data-info .info .left{
    flex: 5;
    padding: 2px 13px 15px 0;
    color: #717171;
}
.data-info .info .left i{
    font-size: 15px;   
}
.fa-message{
    font-size: 14px;
    padding-top: 4px;
}

.data-info .info .right{
    flex: 95;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5px 0 15px 0;
    border-bottom: 1px solid grey;
}
.data-info .info .right h4{
    line-height: 20px;
}
.last-info-right{
    border-bottom: none !important;
}
.data-info .info .right .info-name{
    margin: 0 0 12px 0;
    color: #717171;
    font-size: 13px;
}
.data-info .info .right .info-data{
    font-weight: 400;
}