*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}


/*HEADER*/
header{
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/*MAIN*/
main{
    height: 70vh;
    width: 100%;
}


/*DATA-TITLE*/
.data-title{
    height: 25%;
    display: flex;
    background-color: #4480b6;
    color: white;
}
.data-title .title{
    margin: 0 0 0 0;
    font-weight: 400;
}
.data-title .subtitle{
    margin: 0 0 2px 0;
    color: #bbddf9;
}
.data-title #copy-text{
   font-size: 14px;
}
.data-title button{
    border-radius: 3px;
    padding: 3px 5px;
    margin-right: 5px;
    border: none;
    background-color: white;
    box-shadow: 0 2px #999;
}
.data-title button:hover{
    background-color: rgb(196, 196, 196);
    cursor: pointer;
}
.data-title button:active{
    box-shadow: 0 1px #666;
    transform: translateY(2px);
}
.data-title button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #757575;
    box-shadow: none;
    border: none;
    cursor: not-allowed;
}
@media only screen and (max-width: 1024px) {
    .data-title button{
        border-radius: 3px;
        padding: 3px 5px;
        margin-right: 5px;
        border: none;
        background-color: white;
        box-shadow: none;
    }
    .data-title button:hover{
        background-color: white;
        cursor: pointer;
    }
    .data-title button:active{
        background-color: white;
        box-shadow: none;
        transform: none;
    }
    .data-title button:disabled{
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #757575;
        box-shadow: none;
        border: none;
        cursor: not-allowed;
    }
}


/*DATA-INFO*/
.data-info{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.data-info .info{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
}
.data-info .info .left{
    flex: 5;
    height: 30px;
    padding-right: 5px;
    color: #717171;
}
.data-info .info .right{
    flex: 95;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
.data-info .info .right .info-name{
    height: 30px;
    margin: 0 0 5px 0;
    color: #717171;
    font-size: 13px;
}
.data-info .info .right .info-data{
    font-weight: 400;
}