*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


/*HEADER*/
header{
    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/*MAIN*/
main{
    height: 70vh;
    width: 100%;
}


/*DATA-TITLE*/
.data-title{
    height: 25%;
    display: flex;
    background-color: #4480b6;
    color: white;
}
.data-title .title{
    margin: 0 0 10px 0;
    font-weight: 400;
}
.data-title .subtitle{
    margin: 0;
    color: #bbddf9;
}


/*DATA-INFO*/
.data-info{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.data-info .info{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: flex-start;
}
.data-info .info .left{
    flex: 5;
    height: 30px;
    padding-right: 5px;
    color: #717171;
}
.data-info .info .right{
    flex: 95;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
.data-info .info .right .info-name{
    height: 30px;
    margin: 0 0 5px 0;
    color: #717171;
    font-size: 13px;
}
.data-info .info .right .info-data{
    font-weight: 400;
}