*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{

    height: 30vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}